@model List<ClientModel>
@{
    ViewData["Title"] = "Lista de Clientes";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-start">
        <a class="btn btn-success" role="button" asp-controller="Client" asp-action="Create">Adicionar novo contato</a>
    </div>
    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    
    <br/>

    <h1 class="display-4">Sistema de controle de clientes</h1>

    <table class="table" id='table-Clients'>
        <thead>
            <tr>  
                <th scope="col">Id</th>                          
                <th scope="col">Nome</th>                          
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>        
                <th scope="col">Alterações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ClientModel client in Model)
                {
                    <tr>
                        <th scope="row">@client.Id</th>                         
                        <td>@client.Nome</td>                        
                        <td>@client.Telefone</td>
                        <td>@client.Email</td>

                        <td>
                            <div class="btn-group text-center" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@client.Id" asp-controller="Client" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@client.Id" asp-controller="Client" asp-action="DeleteConfirm">Deletar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>